body {
  padding: 50px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: forestgreen;
  text-decoration: none;
}
.navbar .navbar-default .navbar-inner {
  background-color: blue;
}
