body {
  padding: 50px;
  margin-top: 30px;
}
html {
  overflow-y: scroll;
}
.anim.ng-enter {
  transition: opacity 1s;
  opacity: 0.0;
}
.anim.ng-enter-active {
  opacity: 1.0;
}
.anim.ng-leave {
  display: none;
}
.animate-enter {
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}
.animate-enter.animate-enter-active {
  opacity: 1;
}
.jumbotron {
  background-color: #97dbff;
  border-radius: 10px;
}
.nav .navbar-nav ul li {
  color: yellow;
}
.node {
  stroke: #303030;
  stroke-width: 1.5px;
}
.link {
  stroke: #676767;
  stroke-opacity: .6;
}
.graph {
  border-color: #8db4e1;
  border-radius: 8px;
  background: black;
}
.task {
  padding: 5px;
  border-bottom: 1px solid lightgrey;
  background-color: #f6f6f6;
}
.task input[type=text] {
  border: none;
  background: none;
  width: 100%;
}
.task .children {
  border-left: 6px solid royalblue;
  border-top: 1px solid lightgrey;
}
input:focus {
  outline: none;
}
